alias zshconfig="vi ~/.zshrc"
alias gs="git status"
alias b="bundle"
alias oms="overmind start -f Procfile.dev"
alias y="yarn"
alias cat="bat"

# Make scripts in this project more easily accessible
alias dev-tmux="~/.dotfiles/dev-tmux"
alias rubymine="~/.dotfiles/rubymine"
